<div>
{{#each posts}}
  {{> post-template}}
{{/each}}
</div>




{{#if credentials.username}}
  <form action='/create-post' method='get'>
    <button type='submit'>do a blog post for much win</button>
  </form>
{{/if}}
